<button id="practice1" (click)="practiceOne = true; practiceTwo = false">PRACTICE1</button>
<button id="practice2" (click)="practiceTwo = true; practiceOne = false">PRACTICE2</button>

<ng-container *ngIf="practiceOne">
  <app-simple-slider-input></app-simple-slider-input>
  <app-change-size-and-position></app-change-size-and-position>
  <app-add-new-elements></app-add-new-elements>
  <app-line-up-elements></app-line-up-elements>
</ng-container>

<ng-container *ngIf="practiceTwo">
  <app-combination></app-combination>
</ng-container>
