기능 : drag / resize / 위,아래 정렬 / 앞,뒤 옮기기 / 영역 내 element 추가
<hr>
<button (click)="up()">위로 정렬</button>
<button (click)="down()">아래로 정렬</button>
<hr>
<button (click)="top()">앞으로 옮기기</button>
<button (click)="bottom()">뒤로 옮기기</button>
<hr>
<button (click)="addDiv0()">NEW DIV in DnD</button>
<hr>
<label>
  창 너비 <input type="text" [placeholder]="innerWidth">
  창 높이 <input type="text" [placeholder]="innerHeight">
</label>
<button (click)="changeSize()">크기 변환</button>
<hr>
<div id="parentDiv">
<!--  <div class="childDiv" id="childDiv0" (click)="click($event)">original box1</div>-->
<!--  <div class="childDiv" id="childDiv1" (click)="click($event)">original box2</div>-->
</div>
