.lineUps {
  position: relative;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 8px;
  padding: 20px;
  touch-action: none;
  width: 200px;
}

#ONE {
  background-color: coral;
}

#TWO {
  background-color: plum;
}

#THREE {
  background-color: chartreuse;
}

#FOUR {
  background-color: mediumvioletred;
}

.lineUps1 {
  position: relative;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 8px;
  padding: 20px;
  touch-action: none;
  width: 200px;
}

.lineUps2 {
  position: relative;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 8px;
  padding: 20px;
  touch-action: none;
  width: 200px;
}

#a {
  background-color: #2299ee;
  width: 600px;
  height: 400px;
  margin: 100px;
}

#b {
  background-color: #45c489;
  position: relative;
  width: 300px;
  height: 200px;
  /*left: 100px;*/
  /*top: 100px;*/
  /*right: 100px;*/
  /*bottom: 100px;*/
}
