<h1>app-change-size-and-position</h1>

DnD 영역 내 Element 크기 및 위치 변경
<hr>
위치 draggable

<div [style.padding]="'10px'">현재 위치 값은? {{position.x}} || {{position.y}}</div>

<div class="draggable"> Draggable Element</div>
<div class="singleAxisTarget"> singleAxisTarget</div>
<div class="horizontalTarget"> horizontalTarget</div>
<div class="cursorChecker"> cursorChecker</div>

<hr>
크기 resizable

<div [style.padding]="'10px'">현재 크기 값은? {{size.width}} || {{size.height}}</div>

<div class="resizable" id="resizable0"> Resizable Element</div>

<div class="resize-drag">
  Resize from any edge or corner
</div>
