#parentDiv {
  position: relative;
  background-color: lightskyblue;
  width: 1000px;
  height: 600px;
}

.childDiv {
  box-sizing: border-box;
  touch-action: none;
  position: absolute;
  background-color: blueviolet;
  width: 400px;
  height: 400px;
}
